__pycache__

app/classes/
!app/classes/Player.py

app/ext/
!app/ext/Helper.py

archive/

data/
!data/rawbattletags.csv

results/
!results/results.csv

tests/

venv/

WIP/

.env
requirements.txt
todo.md